* {
    margin: 0 auto;
    text-align: center;
}

header {
    margin-bottom: 1rem;
}

header nav {
    background-color: lightskyblue;
    padding: 1%;
    display: flex;
}

nav button {
    width: 25rem;
    padding: 1%;
}

section {
    display: flex;
}

button {
    border: none;
    border-radius: 5rem;
    transition: 1s;
    background-color: #0000;
    cursor: pointer;
}

button:hover {
    background-color: #e9ac3c;
    box-shadow: inset 1px 1px 1px;
}

img {
    width: 10rem;
    height: auto;
    background-color: grey;
    color: #fff;
    border-radius: 1%;
}